.header {
  background-color:#bababa;
  border-left: 10px solid grey;
  padding: 10px;
}

.header img {
  float: left;
}

.toolbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ccc;
}

.toolbaritem {
    float: left;
}

.toolbaritem a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.toolbaritem a:hover {
    background-color: #5ed763;
}


h1 {
  font-family: 'Open Sans', sans-serif;
  
}

h2 {
  
  font-family: 'Open Sans', sans-serif;
}
  


p {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Open Sans', sans-serif;
}

.blog {
  background-color:#bababa;
  border-left: 10px solid grey;
  margin: auto;
  width: 80%;
  padding: 10px;
  margin-top: 10px;
}

.bsub {
    font-size: 90%;
}


body {
  background-image: url(../assets/cat-left.jpg);
  repeat: no-repeat;
  background-attachment: fixed;
}
