.header {
  background-color:#bababa;
  border-left: 10px solid grey;
  padding: 10px;
}

// div {
//   margin: 10px;
// }


p {
font-family: 'Open Sans', sans-serif;
}
.blog {
  background-color:#bababa;
  border-left: 10px solid grey;
  margin: auto;
  width: 80%;
  padding: 10px;
  margin: 10px;
}

.bsub {
    font-size: 90%;
}
